---
permalink: /about
---
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ site.author }} / {{ site.tagline }}</title>
    <meta name="author" content="{{ site.author }}">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}">
    {% include head.html %}
</head>

<body>
    {% include header.html %}
    <main>
        <section class="info">
            <div class="container">
                <h1>About Me</h1>
            </div>
        </section>
    </main>
    {% include footer.html %}
    <script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/scripts/home.js" | prepend: site.baseurl }}"></script>
</body>

</html>