<footer class="footer">
	<div class="container">
		<section class="contact">
			<h2>Contact</h2>
			<a title="{{ site.email }}" href="mailto:{{ site.email }}">{{ site.email }}</a>
		</section>
		<section class="follow">
			<h2>Follow</h2>
			<ul>
				<li><a  title="Twitter" href="{{ site.twitter }}" target="_blank"><i class="social-icon fab fa-twitter"></i>Twitter</a></li>
				<li><a title="Instagram" href="{{ site.instagram }}" target="_blank"><i class="social-icon fab fa-instagram"></i>Instagram</a></li>
				<li><a title="Twitter" href="{{ site.linkedin }}" target="_blank"><i class="social-icon fab fa-linkedin"></i>LinkedIn</a></li>
				<li><a title="Github" href="{{ site.github }}" target="_blank"><i class="social-icon fab fa-github"></i>Github</a></li>
			</ul>
		</section>
	</div>
</footer>