---
---

@charset "UTF-8";

@import "variables";
@import "mixins";
@import "normalize";
@import "fonts";
@import "core";
@import "layout";
@import "syntax";

.social-icon {
    margin-right: 10px;
}

.menu-items {
    float: right;
    line-height: 1;

    a {
        margin-left: 10px;
    }
}

.dropdown-toggle {
    display: none;

    &:checked {
        ~ .role-label {
            color: yellow;
        }
        ~ .role-description {
            height: auto;
            display: block;
        }
    }
}

.role-label {
    cursor: pointer;
}

.role-description {
    height: 0;
    display: none;
}

.role-items {
    list-style-type: disc;
    margin: 15px 0 15px 50px;

    li {
        margin-bottom: 15px;
        font-size: 1.2rem;
    }
}

.about-heading {
    margin-top: 50px;
}