---
---

@charset "UTF-8";

@import "variables";
@import "mixins";
@import "normalize";
@import "fonts";
@import "core";
@import "layout";
@import "syntax";

.menu-items {
    float: right;
    line-height: 1;

    a {
        margin-left: 10px;
    }
}